body {
	background-color: #E7BFDD;
}

h2 {
	font-size: 32px;
	color: #080D38;
	font-family: "Patrick Hand SC";
	text-align: center;
	margin: 10px;
}

ul {
	font-family: "Patrick Hand";
	color: #080D38;
	font-size: 20px;
}

.container {
	background: white;
	padding: 10px;
	border-radius: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
	position: relative;
	max-width: 658px;
}

.progress-container {
	height: 30px;
	background: #F5D3ED;
	border-radius: 50px;
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;

}

.progress-bar {
	width: 0%;
	height: 100%;
	background: #F19EDC;
	transition: width 0.5s ease-in-out;
}

#task-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#task-list li {
	display: flex;
	align-items: center;
	justify-content: left;
	margin-right: 10px;
	margin-left: 10px;
}

#task-list li input {
	appearance: none;
	width: 30px;
	height: 30px;
	border: 2px solid #F19EDC;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 10px;
	position: relative;
}

#task-list li input:checked {
	background-color: #F19EDC;
	border: 2px solid #F19EDC;
}

.add-task {
	grid-column: span 2;
	display: flex;
	align-items: center;
	justify-content: left;
	margin-left: 15px;
}

#new-task {
	font-family: "Patrick Hand";
	font-size: 20px;
	border: none;
	border-bottom: 2px solid #F19EDC;
	background: transparent;
	padding: 5px;
	font-size: 20px;
	outline: none;
	color: #3e2764;
	text-align: left;
}

#add-btn {
	background: #F19EDC;
	border: none;
	color: white;
	font-size: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

#add-btn:hover {
	background: #E26BC4;
}

.delete-btn {
	background: none;
	border: none;
	color: lightgray;
	font-size: 40px;
	cursor: pointer;
	margin-left: auto;

}

.delete-btn:hover {
	color: darkgray;
}

@media (min-width: 700px) {
	#task-list {
		grid-template-columns: 1fr;
	}
}